# 1. Database Connection
DATABASE_URL=""

# 2. Better Auth Configuration
BETTER_AUTH_SECRET=""
BETTER_AUTH_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth Client Credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# 3. Cloudflare R2 Object Storage
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""

# 4. FastAPI GPU Server Inference Endpoints
FASTAPI_INFERENCE_URL="http://localhost:8000"
FASTAPI_API_KEY=""

# 5. Inngest Integration (Required in production)
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""
